[Unit]
Description=HomePod Audio Web Interface
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/homepod-web.py
Restart=always
User=tomeriksen
Group=audio
StandardOutput=append:/var/log/homepod-web.log
StandardError=append:/var/log/homepod-web.log

[Install]
WantedBy=default.target