<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePod Audio Toggle</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
        button { font-size: 20px; padding: 10px 20px; margin-top: 20px; cursor: pointer; }
        .status { font-size: 24px; font-weight: bold; margin-top: 20px; }
    </style>
   <script>
    function switchAudio(sinkID) {
        fetch('/switch', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ sink: sinkID })
        })
        .then(function(response) {
            if (response.ok) {
                location.reload();
            } else {
                alert('Fel vid växling till: ' + sinkID);
            }
        });
    }
</script>
</head>
<body>
    <h1>HomePod Audio Selector</h1>
    <div class="status">Current output: <span>{{ current_output.name }}</span></div>
    <div class="selector">
        <label for="output">Select output:</label>
        <select id="output" onchange="switchAudio(this.value)">
            <!-- First input is linout, followed by a loop of raop sinks. The value is their sink ids
            <option value="line_out.id">Line Out {%if current_output == line_out.id%}Selected{%endif%}</option>-->
            <!-- Loop through all raop sinks -->
            {% for sink in output_sinks %}
                <option value="{{ sink.id }}">{{ sink.name }} {%if current_output.id == sink.id%}Selected{%endif%}</option>
            {% endfor %}
        </select>
    </div>
</body>
</html>